.calendar-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
}

.calendar-header-navigation-button {
	cursor: pointer;
	color: #000;
}

.calendar-header-navigation-button:hover {
	color: #999999;
}

.calendar-day-name {
 	width: 14.28571429%;
 	cursor: default;
 	display: inline-block;
 	text-align: center;
	border: 1px solid transparent;
}

.calendar-day-name:hover {
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #b3b3b3;
	border-left: 1px solid transparent;
}

.calendar-day {
 	width: 14.28571429%;
 	display: inline-block;
 	cursor: pointer;
 	text-align: center;
	border: 1px solid transparent;
}

.calendar-day:hover {
	font-weight: 800;
	border: 1px solid #b3b3b3;
}

.calendar-day-today {
	border: 1px solid #6aade2;
}

.calendar-day-different-month {
	color: #999999;
}

.calendar-day-selected {
	border: 1px solid #0e2e47;
}

.calendar-week {

}

.calendar-week-names {
	
}