.header-navigation {
	background-color: #222222;
	color: #f1f4f6;
	display: inline-block;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	z-index: 1;
}

.header-navigation-title {
	text-decoration: none;
	color: #fff;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

.header-navigation-menu {
	float: right;
}

.header-navigation-item {
	text-decoration: none;
	color: #fff;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    padding: 15px 5px 5px 15px;
    cursor: pointer;
}

.header-navigation-link {
	text-decoration: none;
	color: #fff;
}

.header-navigation-link:hover {
	text-decoration: none;
	color: #ccc;
}

.header-navigation-link:active {
	text-decoration: none;
	color: #fff;
}

.header-navigation-link:visited {
	text-decoration: none;
	color: #fff;
}

.header-navigation-small-menu-button {
	height: 32px;
	margin-top: 10px;
	cursor: pointer;
}