@media print
{
    * {-webkit-print-color-adjust:exact;}
}

﻿html, body {
    background-color: #e1e3e4;
    padding: 0;
    margin: 0;
    height: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

.text-inline {
    display: inline;
}

.margin-top-05 { margin-top: 05px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-30 { margin-top: 30px; }

.padding-top-05 { padding-top: 05px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-15 { padding-top: 15px; }
.padding-top-20 { padding-top: 20px; }
.padding-top-25 { padding-top: 25px; }
.padding-top-30 { padding-top: 30px; }
