<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PlanManager - Password Reset Request</title>
</head>
<body>
	<div id="container" style="height: 100%">
		<div style="background-color:#222222;color:#f1f4f6;display:inline-block;width:100%;font-family:'Open Sans', sans-serif;">
			<h1 style="text-decoration:none;color:#fff;font-weight:700;display:inline-block;padding:10px;">
				PlanManager
			</h1>
		</div>
		<div>
			<h2>Hi __NAME__,</h2>
			<p>We got a request to reset your PlanManager password.</p>
        	<div>
				<a href="__LINK__">Reset Password</a>
			</div>
			<p>If you ignore this message, your password won't be changed.</p>
			<p>If you didn't request a password reset, let us know.</p>
		</div>
    </div>
</body>
