<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css">
	<title>Churchetto - Email Verification</title>
</head>
<body>
	<div id="container" style="height: 100%;">
		<div style="background-color:#f4f4f4;color:#3b3a36;display:inline-block;width:100%;font-family:'Poiret One', cursive;">
			<h1 style="text-decoration:none;font-weight:700;display:inline-block;padding:10px;">
				Churchetto
			</h1>
		</div>
		<div style="font-family:'Rokkitt', serif;">
			<h2>Hi __NAME__,</h2>
			<p>
				__CHURCH__ needs your help at the following event: __EVENT__
			</p>
			<p>
				The following volunteer opportunities are still open: __ROLES__.
				You can help them out by clicking on the link below and accepting
				the volunteer opportunty.
			</p>
			<p><a href="__LINK__" style="word-break:break-all;">__LINK__</a></p>
			<p>
				Thank you!
			</p>
		</div>
    </div>
</body>
